.whygl{
    /* background-image: url("../../Asset/mark.png"); */
    background-image: linear-gradient(to top,#fff, #b3cbf4);
    background-size: cover;
    background-repeat: no-repeat;
}
.paragl{
    color: #291571;
    font-size: 18px;
}


.abhead {
    font-size: 72px;
    font-weight: 700;
    background-image: linear-gradient(#291571, #4E28D7); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

@media (max-width:768px){
    .abhead {
        font-size: 54px;
        background-image: linear-gradient(#291571, #4E28D7); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        
    } 
    .paragl{
        text-align: justify;
        padding: 0px 10px; 
    }  
}




