.paraabout{
    color: #291571;
    font-size: 18px;
}
.imab1{
    height: 100px;
    width: 300px !important;
}
.intended{
text-indent: 28px;
}



.abhead {
    font-size: 72px;
    background-image: linear-gradient(#291571, #4E28D7); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
}
