.contactpartbg{
  background-image: linear-gradient(to right,#291571,#4E28D7);
}
.contactheading{
  font-weight: 600;
  font-size: 48px;
}
.connetpara{
  font-size: 18px;
}
.form-control{
    border: 1px solid #fff !important;
    background-color: transparent !important;
}
option{
  color: #3B1EA3;
}

input::placeholder{
  color: #fff !important;
}

.submitbtn{
  color: #3B1EA3 !important;
  background-color: #ffffff;
  font-weight: 600 !important;
  border: 0px;
}
.privacytext{
  font-size: 14px;
}

.position-relative {
  position: relative;
}

.dropdown-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffff;
}

@media (max-width:768px){
  .contactheading{
    font-weight: 600;
    font-size: 24px;
  }
}


