.methodtxt{
    color: #291571;
    font-size: 68px;
    font-family: 'Proxima Nova', sans-serif;  
}


/* Hide method3 (for mobile) by default */
.method-mobile {
    display: none;
  }
  
  /* Show method3 for small devices */
  @media (max-width: 767px) {
    .method-desktop {
      display: none; /* Hide method2 (desktop) on small screens */
    }
    .method-mobile {
      display: block;
    }
  }
  
  /* For larger devices (method2) */
  @media (min-width: 768px) {
    .method-desktop {
      display: block;
    }
    .method-mobile {
      display: none; /* Hide method3 on larger screens */
    }
  }
  

@media (max-width:769px){
    .methodim{
        max-height: 300px;
        max-width: 200px;
    }
    .methodtxt{
        font-size: 48px !important;
    }
    .methodtext{
        text-align: center;
    }
}