.kgisllogo{
    max-height: 100px;
    max-width: 200px;
}
.footerbg{
    background-color: #291571;
    color: white;
}
/* .footer-wrapper {
    position: relative;
}
.follow-us-box {
    position: absolute;
    bottom: -60px; 
    left: 50%;
    transform: translateX(-50%);
    background-color:#fff; 
    color: #291571; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9DADC;
    z-index: 1000; 
  } */



  .contactmain{
    font-size: 24px;
    font-weight: 700 !important;
  }


  