.banner-container {
    position: relative;
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    margin: 20px;
  }
  
  .rotating-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border: 5px solid #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 2s linear infinite;
  }


  .rotating-circle1 {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border: 5px solid #b31064;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: translateX(-50%) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }
 
  .banner-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
.banner-content p {
    font-size: 1.2rem;
    color: #666;
}
  
.banner-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.banner-button:hover {
    background-color: #2980b9;
}
  