.whygl{
    background-image: url("../../Asset/mark.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.paragl{
    color: #291571;
    font-size: 18px;
}


.abhead {
    font-size: 72px;
    font-weight: 700;
    background-image: linear-gradient(#291571, #4E28D7); /* Gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
}

@media (max-width:768px){
    .abhead {
        font-size: 64px;
        background-image: linear-gradient(#291571, #4E28D7); /* Gradient colors */
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent;
         /* Make the text color transparent to show the gradient */
    } 
    .paragl{
        text-align: justify;
        padding: 0px 10px; 
    }  
}

