.visionheading {
    color: #291571; 
    font-size: 24px;
    font-weight: 700 !important;
    position: relative;
    padding-left: 45px;
    margin-bottom: 30px;
}
.visionheading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 35px;
    height: 5px;
    background: linear-gradient(90deg, #291571 0%, #4E28D7 100%);
    border-radius: 2px 0 0 0;
}

.firstcol{
    padding-top: 100px;
}

.imgtot{
    max-height: 250px;
}

/* Mission.css */

.visionheading {
    font-size: 1.75rem; /* Adjust size as needed */
    margin-bottom: 1rem;
  }
  
  .imgtot {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 767.98px) {
    .firstcol {
      text-align: center;
    }
  }
  